---
layout: default.liquid
title: tag dev // Drew Powers
description: The latest dev blog posts from Drew Powers
data:
  tag: dev
---
<div class="wrapper" itemscope itemtype="https://schema.org/Blog">
  {%- for post in collections.posts.pages -%}
    {%- if post.tags contains page.data.tag -%}
      <a class="postPreview" href="/{{ post.permalink }}" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="postPreview-tag">
          {%- for tag in post.tags -%}
            <span class="tag tag--{{ tag }}">{{ tag }}</span>
          {%- endfor -%}
        </div>
        <h1 class="postPreview-title" itemprop="headline">{{ post.title }}</h1>

        <time class="postPreview-date" datetime="{{ post.published_date }}" itemprop="datePublished">{{ post.published_date | date: "%e %b %Y" }}</time>
        <div class="postPreview-summary" itemprop="description">{{ post.description }}</div>
        <div class="postPreview-simlink">
          read
          <svg class="icon ml1r" aria-label="chevron-right" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.293 5.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L13.586 12 8.293 6.707a1 1 0 010-1.414z"/></svg>
        </div>
      </a>
    {%- endif -%}
  {%- endfor -%}
</div>
