<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include 'assets.liquid' %}
    {% assign description = page.description %}
    {% include 'meta.liquid' %}
  </head>
  <body>
    <div class="wrapper">
      {% include 'header.liquid' %}

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-description">{{ page.description }}</p>
        <dl class="post-meta">
          <dt class="post-meta-key">published</dt><dd class="post-meta-value">{{ page.published_date | date: "%Y-%m-%d" }}</dd>
          {% if page.data.updated_date %}
          <dt class="post-meta-key">updated</dt><dd class="post-meta-value">{{ page.data.updated_date | date: "%Y-%m-%d" }}</dd>
          {% endif %}
          <dt class="post-meta-key">tagged</dt><dd class="post-meta-value"><a href="/tag/{{ page.tags | first }}">{{ page.tags | first }}</a></dd>
        </dl>
      </header>

      <main role="main" class="post-body post-body__{{ page.slug }}">
        {{ page.content }}
      </main>

      {% include 'footer.liquid' %}
    </div>
  </body>
</html>
