<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include 'assets.liquid' %}
    {% assign description = page.description %}
    {% include 'meta.liquid' %}
  </head>
  <body>
    {%- include 'header.liquid' -%}

    <div class="wrapper">
      <header class="post-header">
        <div class="post-animation">
          {%- if page.slug == 'was-html-a-mistake' -%}{%- include 'animations/i-beams.liquid' -%}{%- endif -%}
          {%- if page.slug == 'the-state-of-es-modules-in-2020' -%}{%- include 'animations/broadcasts.liquid' -%}{%- endif -%}
          {%- if page.slug == '3-pillars-of-front-end-knowledge' -%}{%- include 'animations/3-rings.liquid' -%}{%- endif -%}
          {%- if page.slug == 'media-queries-are-still-a-hack' -%}{%- include 'animations/sliding-shoji.liquid' -%}{%- endif -%}
          {%- if page.slug == 'playfulness-budget' -%}{%- include 'animations/bouncing.liquid' -%}{%- endif -%}
        </div>
        <h1 class="post-title mb1r">{{ page.title }}</h1>
        <dl class="post-meta">
          <dt class="post-meta-key">published</dt>
          <dd class="post-meta-value"><time datetime="{{ page.published_date }}">{{ page.published_date | date: "%e %b %Y" }}</time></dd>
          {%- if page.data.updated_date -%}
            <dt class="post-meta-key">updated</dt><dd class="post-meta-value"><time datetime="{{ page.data.updated_date }}">{{ page.data.updated_date | date: "%e %b %Y" }}</time></dd>
          {%- endif -%}
          <dt class="post-meta-key">tagged</dt><dd class="post-meta-value">
            {%- for tag in page.tags -%}<a class="tag tag--{{ tag }}" href="/blog/tag/{{ tag }}">{{ tag }}</a>{%- endfor -%}
          </dd>
        </dl>
      </header>

      <main role="main" class="post-body mt4 post-body__{{ page.slug }}">
        {{ page.content }}
      </main>
    </div>

    {% include 'footer.liquid' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
